n8n worfklows/Presales Agent - Knowledge Tool.json
{
  "name": "Knowledge Flow",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "question"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -592,
        0
      ],
      "id": "2a6f3f7d-1112-4309-b670-6bfb87b562c7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "code2dhruv",
          "mode": "list",
          "cachedResultName": "code2dhruv",
          "cachedResultUrl": "https://github.com/code2dhruv"
        },
        "repository": {
          "__rl": true,
          "value": "build_AI_agents_with-n8n-4103420",
          "mode": "list",
          "cachedResultName": "build_AI_agents_with-n8n-4103420",
          "cachedResultUrl": "https://github.com/code2dhruv/build_AI_agents_with-n8n-4103420"
        },
        "filePath": "tools/knowledge/docs"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -384,
        0
      ],
      "id": "73412a49-e174-466c-afe2-06d10a8426f2",
      "name": "List files",
      "webhookId": "3769fe92-c258-4129-878d-9b18fe0d9829",
      "credentials": {
        "githubOAuth2Api": {
          "id": "8eU4kVvmZ9fDALmi",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "code2dhruv",
          "mode": "list",
          "cachedResultName": "code2dhruv",
          "cachedResultUrl": "https://github.com/code2dhruv"
        },
        "repository": {
          "__rl": true,
          "value": "build_AI_agents_with-n8n-4103420",
          "mode": "list",
          "cachedResultName": "build_AI_agents_with-n8n-4103420",
          "cachedResultUrl": "https://github.com/code2dhruv/build_AI_agents_with-n8n-4103420"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -192,
        0
      ],
      "id": "db5768e7-b919-4b15-a4b4-59f833d820d2",
      "name": "Get a file",
      "webhookId": "3769fe92-c258-4129-878d-9b18fe0d9829",
      "credentials": {
        "githubOAuth2Api": {
          "id": "8eU4kVvmZ9fDALmi",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        16,
        0
      ],
      "id": "25cea98b-7d2d-43ca-ae93-83fcc42a208a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('When Executed by Another Workflow').item.json.question }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "=**Role:** An AI assistant for the “Tech Innovate 2026 Conference”  **Goal:** Answer attendee questions accurately using only the provided conference materials.  **Task:** Given a question, analyze the provided documents and respond with the correct information if available. If the information cannot be found in the provided materials, respond exactly with “No information available.”  **Detail:** * Use only the provided reference materials as the sole source of truth. * Do not infer, guess, or include outside information. * Responses must be **concise** but complete—include all relevant facts from the materials. * Format the output as a **simple list** (no bullets, no markdown). * If multiple facts apply, list them in separate lines. * If no relevant content is found, return only: `No information available`  Available Information:   {{ $json.data }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "9741c288-a4bc-4a17-80ea-04ac1407b723",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "5wzW8l8HbYt9kqSi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b25b64e-8d75-46eb-8a4f-004e5d46c75b",
              "name": "content.parts[0].text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        0
      ],
      "id": "b1214690-5323-4339-aae7-fc291d051905",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "question": "What halls are available for booth setup?"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}
